<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Fight Banality!</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<%= render 'layouts/header' %>
	<div class="container">
		<%= yield %>
		<section id="sidebar">
			<%= yield :sidebar %>
			<section id="recent_activity">
				<header>
					<h1 class="ir" id="recent">Recent Activity</h1>
				</header>
			</section>
		</section>
	</div>
	<%= render 'layouts/footer' %>
</body>
</html>
